<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <title>线损管家</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/lineloss.css"/>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid" style="background-color: lightskyblue">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="width: 255px">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="/images/logo.png" style="width: 130px">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#"><span class="glyphicon glyphicon-certificate" aria-hidden="true" style="text-align: center"><br>线损分析</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-calendar" aria-hidden="true" style="text-align: center"><br>工单管理</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true" style="text-align: center"><br>系统工具</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-file" aria-hidden="true" style="text-align: center"><br>治理报告</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="text-align: center"><br>系统管理</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-signal" aria-hidden="true" style="text-align: center"><br>统计分析</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>