<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <title>线损管家</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/lineloss.css"/>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div class="container-fluid" style="background-color: darkcyan">
    <div class="row-fluid">
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <img alt="140x140" src="images/xsgj.png" style="height: 60px" />
        </div>
        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <button style="background-color: darkcyan;height: 60px;border: darkcyan">
                <h4><span class="glyphicon glyphicon-road" aria-hidden="true"></span><br>
                    线损分析</h4>
            </button>&nbsp;&nbsp;
            <button style="background-color: darkcyan;height: 60px;border: darkcyan">
                <h4><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span><br>
                    工单管理</h4>
            </button>&nbsp;&nbsp;&nbsp;
            <button style="background-color: darkcyan;height: 60px;border: darkcyan">
                <h4><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><br>
                    系统工具</h4>
            </button>&nbsp;&nbsp;&nbsp;
            <button style="background-color: darkcyan;height: 60px;border: darkcyan">
                <h4><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span><br>
                    治理报告</h4>
            </button>&nbsp;&nbsp;&nbsp;
            <button style="background-color: darkcyan;height: 60px;border: darkcyan">
                <h4><span class="glyphicon glyphicon-glass" aria-hidden="true"></span><br>
                    系统管理</h4>
            </button>&nbsp;&nbsp;&nbsp;
            <button style="background-color: darkcyan;height: 60px;border: darkcyan">
                <h4><span class="glyphicon glyphicon-cog" aria-hidden="true"></span><br>
                    统计分析</h4>
            </button>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">.col-md-2</div>
    <div class="col-md-10">
        <ul class="nav nav-pills">
            <li role="presentation"><a>首页</a></li>
        </ul>
    </div>
</div>
</body>
</html>